{% extends 'base.html.twig' %}
{% block body %}
<br/>
<h2>Correction des notes</h2>
<br/>

<!--Selection UFR - PROFESSEUR - ETUDIANT-->
<div class="form">
  <div class="form-group-row col-12">
    <label>UFR : </label><br>  
    <select class="form-control col-6" id="selUFR">
      <option value="">Select</option>
      <option value="1">UFR 1</option>
      <option value="2">UFR 2</option>
      <option value="3">UFR 3</option>
    </select>
  </div>
  <div class="form-group-row col-12">
    <label>Professeur : </label><br> 
    <select class="form-control col-6" id="selProf">
      <option value="">Select</option>
      <option value="jack">Jack Durand</option>
      <option value="thierry">Thierry LaFrite</option>
    </select>
  </div>
  <div class="form-group-row col-12">
    <label>Etudiant : </label><br> 
    <select class="form-control col-6" id="selStudent">
      <option value="">Select</option>
      <option value="1">Cedric</option>
      <option value="2">Emeline</option>
      <option value="3">Erwann</option>
      <option value="4">Jose</option>
    </select>
  </div>

<br/>
<!-- Accordion insertion des notes -->
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Notes D1 #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Compétence 1</th>
            <td><input type="text" aria-label="comp1" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 2</th>
            <td><input type="text" aria-label="comp2" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 3</th>
            <td><input type="text" aria-label="comp3" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 4</th>
            <td><input type="text" aria-label="comp4" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Notes D2 #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Compétence 1</th>
            <td><input type="text" aria-label="comp1" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 2</th>
            <td><input type="text" aria-label="comp2" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 3</th>
            <td><input type="text" aria-label="comp3" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 4</th>
            <td><input type="text" aria-label="comp4" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Notes D3 #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Compétence 1</th>
            <td><input type="text" aria-label="comp1" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 2</th>
            <td><input type="text" aria-label="comp2" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 3</th>
            <td><input type="text" aria-label="comp3" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 4</th>
            <td><input type="text" aria-label="comp4" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Notes D4 #4
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Compétence 1</th>
            <td><input type="text" aria-label="comp1" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 2</th>
            <td><input type="text" aria-label="comp2" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 3</th>
            <td><input type="text" aria-label="comp3" class="form-control"></td>
          </tr>
          <tr>
            <th scope="row">Compétence 4</th>
            <td><input type="text" aria-label="comp4" class="form-control"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Notes D5 #5
        </button>
      </h5>
    </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Compétence 1</th>
              <td><input type="text" aria-label="comp1" class="form-control"></td>
            </tr>
            <tr>
              <th scope="row">Compétence 2</th>
              <td><input type="text" aria-label="comp2" class="form-control"></td>
            </tr>
            <tr>
              <th scope="row">Compétence 3</th>
              <td><input type="text" aria-label="comp3" class="form-control"></td>
            </tr>
            <tr>
              <th scope="row">Compétence 4</th>
              <td><input type="text" aria-label="comp4" class="form-control"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success">Enregister</button>
</div>
<br/>
{% endblock %}