{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur Easy Note</h1>

<ul class="list-group accueil">
    <li class="list-group-item">>> Consulter les notes : <a href="/notes">Notes</a></li>
    <li class="list-group-item">>> Corriger des copies : <a href="/correction">Correction</a></li>
    <li class="list-group-item">>> Consulter les statistiques d'un professeur : <a href="/notes">Professeur</a></li>
    <li class="list-group-item">>> Consulter les statistiques des UFR : <a href="/ufr">UFR</a></li>
</ul>
{% endblock %}