{% extends 'base.html.twig' %}
{% block body %}
<br/>
<h4>Consulter mes notes</h4>
<br/>
<!--Selectionner étudiant et année-->
<div class="form">
  <div class="form-group-row col-12">
    <label>Etudiant : </label><br>  
    <select class="form-control col-6" id="selStudent">
      <option value="">Select</option>
      <option value="1">Cedric</option>
      <option value="2">Erwann</option>
      <option value="3">Jose</option>
    </select>
  </div>
  <div class="form-group-row col-12">
    <label>Annee : </label><br> 
    <select class="form-control col-6" id="selYear">
      <option value="">Select</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
    </select>
  </div>
  <div class="form-group-row col-12">
    <label style="color:green; "><strong>ADMIS</strong></label><br> 
  </div>
</div>
<!--Nom de l'étudiant et rappel de l'année-->
<br/>
<!-- Accordion détail des notes -->
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Notes D1 #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">D1.1</th>
            <th scope="col">D1.2</th>
            <th scope="col">D1.3</th>
            <th scope="col">MOYENNE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>18</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Notes D2 #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Notes D3 #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Notes D4 #4
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Notes D5 #5
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        </div>
  </div>
</div>
<br/>
{% endblock %}
