{% extends 'base.html.twig' %}
{% block body %}
<br/>
<h2>Statistiques des professeurs</h2>
<br/>

<!--PROFESSEUR-->
<div class="form">
  <div class="form-group-row col-12">
    <label>Professeur : </label><br> 
    <select class="form-control col-6" id="selProf">
      <option value="">Select</option>
      <option value="jack">Jack Durand</option>
      <option value="thierry">Thierry LaFrite</option>
    </select>
    <button type="button" class="btn btn-success">Enregister</button>
  </div>
</div>

<br/>
<table class="table">
<tbody>
    <tr>
    <th scope="row">Nombre de copies corrigées</th>
    <td>42</td>
    </tr>
    <tr>
    <th scope="row">Moyenne des notes</th>
    <td>13</td>
    </tr>
    <tr>
    <th scope="row">Écart-Type des notes</th>
    <td>2</td>
    </tr>
</tbody>
</table>

<br/>
{% endblock %}