{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

    <h1>Taux de réussite</h1>
    <div class="form-row col-12" style="margin-top: 5px; ">
        <div class="form-group-row col-12">
            <select class="form-control col-6" id="selStudent">
            <option value="">Selectionnez une UFR</option>
            <option value="1">UF1</option>
            <option value="2">UF2</option>
            <option value="3">UF3</option>
            </select>
        </div>
       <div class="form-group-row col-12">
            <select class="form-control col-6" id="selYear">
            <option value="">Selectionnez une compétence</option>
            <option value="2019">C20</option>
            <option value="2018">C21</option>
            </select>
        </div>
        <div class="form-group-row col-12">
            <input type="date">
        </div>
        <button type="submit" class="btn btn-success"> Chercher </button>
    </div>

    <div id="tableTauxReussite">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UFR</th>
                <th scope="col">Taux de réussite</th>
                <th scope="col">Compétence</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>UFR1</td>
                <td>80%</td>
                <td>C20</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>UFR2</td>
                <td>70%</td>
                <td>C20</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>UFR3</td>
                <td>90%</td>
                <td>C20</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h1>Bilan</h1>
    <div class="form-row col-12" style="margin-top: 5px; ">
        <div class="form-group-row col-12">
            <select class="form-control col-6" id="selStudent">
            <option value="">Selectionnez une UFR</option>
            <option value="1">UF1</option>
            <option value="2">UF2</option>
            <option value="3">UF3</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success"> Chercher </button>
    </div>

    <div id="tableBilan">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UFR</th>
                <th scope="col">Bilan</th>
                <th scope="col">Années</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>UFR1</td>
                <td>80%</td>
                <td>2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>UFR1</td>
                <td>70%</td>
                <td>2019</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>UFR1</td>
                <td>90%</td>
                <td>2018</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h1>Meilleure UFR par année</h1>
    <div class="form-row col-12" style="margin-top: 5px; ">
     
         <div class="form-group-row col-4">
            <input type="date">
        </div>
        <button type="submit" class="btn btn-success"> Chercher </button>
    </div>
     <div id="tableTauxReussite">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UFR</th>
                <th scope="col">Taux de réussite</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>UFR1</td>
                <td>80%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}